# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/*production.tfvars

# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
